.button_email {
  font-size: 20px;

  color: var(--black);

  &:hover {
    border-bottom: 1px solid var(--black);
  }

  &:active {
    color: var(--green-400);

    border-bottom: 1px solid var(--green-400);
  }
}

