.input {
  height: 68px;
  max-width: 500px;

  font-size: 20px;
  font-weight: 400;

  color: var(--black);

  background: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px;

  padding: 20px;



  &[type='tel'] {
    letter-spacing: -1px;
  }

  &_date {
    letter-spacing: 0.6px;
  }

  &:hover {
    cursor: pointer;

    background: var(--beige-200);
  }

  &:focus {
    background: var(--beige-200);
    border: 1px solid var(--gray-300);
    outline: none;
  }
}

@media (max-width: 740px) {
  .input-mobile {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .input-mobile {
    height: 43px;

    font-size: 16px;

    padding: 10px;
  }
}