.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  gap: 8px;

  &_input {
    width: 0;
    height: 0;

    position: absolute;
    opacity: 0;

    &:checked + .checkbox_mark {
      border-color: #000;

      svg {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &_mark {
    width: 26px;
    height: 26px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #000;
    border-radius: 4px;
    transition: all 0.2s ease;

    svg {
      width: 12px;
      height: 9px;
      opacity: 0;
      transform: scale(0.8);
      transition: all 0.2s ease;

      path {
        stroke: #000;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
      }
    }
  }
}