.checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;

  &_input {
    width: 0;
    height: 0;

    position: absolute;
    opacity: 0;

    &:checked + .checkbox_mark {
      border-color: #000;

      &::before {
        opacity: 1;
      }
    }
  }

  &_mark {
    width: 26px;
    height: 26px;

    position: relative;
    display: inline-block;

    background: transparent;
    border: 2px solid var(--black);
    border-radius: 4px;

    &::before {
      width: 6px;
      height: 10px;

      position: absolute;

      border: solid #000;
      border-radius: 1px;
      content: '';
      top: 4px;
      left: 7px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
  }
}

@media (max-width: 550px) {
  .checkbox {
    &_mark {
      width: 20px;
      height: 20px;
    }

    ::before {
      top: 1px;
      left: 4px;
    }
  }
}