.radio-btn {
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--black);
  border-radius: 50%;

  &_checkmark {
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    display: none;

    border-radius: 50%;
    background-color: var(--black);
  }

  &_select {
    font-size: 20px;
    color: var(--black);
  }

  & input {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.radio-btn input[type="radio"]:checked + .radio-btn_checkmark {
  display: inline-block;
}

@media (max-width: 550px) {
  .radio-btn {
    width: 20px;
    height: 20px;

    &_checkmark {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }


    &_select {
      font-size: 16px;
    }
  }
}