.radio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border: 2px solid var(--black);
  border-radius: 50%;

  &_checkmark {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    border-radius: 50%;
    background-color: var(--black);
    display: none;
  }

  &_select {
    font-size: 20px;
    color: var(--black);
  }

  & input {
    display: none;
  }
}

.radio-btn input[type="radio"]:checked + .radio-btn_checkmark {
  display: inline-block;
}

@media (max-width: 550px) {
  .radio-btn {
    width: 20px;
    height: 20px;

    &_select {
      font-size: 16px;
    }
  }
}