.hero {
  height: 831px;

  background-image: url('../../assets/images/header/header-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  &_info {
    max-width: 768px;

    display: flex;
    flex-direction: column;
    row-gap: 50px;

    margin: 0 auto;
    padding: 207px 0 119px;

  }

  &_title {
    font-size: 96px;
    font-weight: 700;
    line-height: 105px;
    text-align: center;
    letter-spacing: 1.8px;

    color: var(--white);
  }

  &_description {
    max-width: 562px;

    font-size: 20px;
    line-height: 28px;

    text-align: center;

    color: var(--white);

    margin: 0 auto;
  }

  &__button {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .hero {
    background-image: url('../../assets/images/header/header-img-1024.png');

    &_description {
      max-width: 410px;
    }
  }
}

@media (max-width: 650px) {
  .hero {
    height: 488px;

    &_info {
      row-gap: 40px;

      padding: 140px 0 100px;
    }

    &_title {
      max-width: 230px;

      font-size: 34px;
      line-height: 38px;
      letter-spacing: 0.5px;

      margin: 0 auto;
    }

    &_description {
      max-width: 310px;

      font-size: 16px;
      line-height: 23px;
    }

    &__button {
      letter-spacing: -0.6px;
    }
  }

}

@media (max-width: 360px) {
  .hero {
    background-image: url('../../assets/images/header/header-img-360.png');
  }
}