.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 100px;

  &_info {
    max-width: 529px;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &_title {
      font-size: 59px;
      font-weight: 700;
      line-height: 74px;

      text-align: center;

      color: var(--black);

    }

    &_description {
      max-width: 410px;

      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      color: var(--gray-300);

      margin: 0 auto;

    }
  }

  &_cards {
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .reviews {
    &_cards {
      max-width: 912px;

      gap: 18px;
    }
  }
}

@media (max-width: 840px) {
  .reviews {
    &_cards {
      flex-direction: column;
      row-gap: 18px;
    }
  }
}

@media (max-width: 550px) {
  .reviews {
    row-gap: 50px;

    &_cards {
      padding: 0 21px;
    }

    &_info {
      row-gap: 20px;

      &_title {
        width: 100%;

        font-size: 34px;
        line-height: 38px;
        letter-spacing: 0.6px;
      }

      &_description {
        max-width: 318px;

        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}