.dropdown {
  height: 105px;
  max-width: 500px;

  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  &:hover {
    .dropdown__input, .dropdown__button {
      background: var(--beige-200);
    }
  }

  &_title {
    font-size: 20px;
    line-height: 35px;
    color: var(--black);
  }

  &__container {
    height: 68px;

    position: relative;

    display: flex;

    background: var(--beige-100);
    border: 2px solid var(--beige-200);
    border-radius: 10px;

  }

  &__input {
    font-size: 20px;
    color: var(--black);

    background: transparent;
    border: none;
    border-radius: 10px 0 0 10px;

    padding: 20px;
    flex-grow: 1;
    cursor: pointer;



    &::placeholder {
      color: var(--gray-300);
    }

    &:focus {
      outline: none;

    }
  }

  &__button {
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    border-radius: 0 10px 10px 0;
    border-left: 1px solid var(--beige-200);
    cursor: pointer;

    &:hover {
      background: var(--beige-200);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

  }

  &__menu {
    width: calc(100% + 2px);
    max-height: 0;

    position: absolute;
    display: none;

    background: var(--beige-100);
    border: 1px solid transparent;
    border-radius: 0 0 10px 10px;

    margin-left: -1px;
    top: 100%;
    left: 0;
    overflow: hidden;
    border-top: none;

    z-index: 10;
  }

  &__item {
    font-size: 20px;
    color: var(--black);

    padding: 15px 20px;
    cursor: pointer;


    &:hover {
      background: var(--beige-200);
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }

  &--opened {
    .dropdown__container {
      border-radius: 10px 10px 0 0;
      border-color: var(--gray-300);
    }

    .dropdown__menu {
      max-height: 500px;

      display: block;
      border-color: var(--gray-300);
    }

    .dropdown__icon {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 740px) {
  .dropdown {
    &_title {
      font-size: 16px;
    }

    &__input {
      width: 70%;
    }

    &_button {
      width: 30%;
    }
  }
}

@media (max-width: 550px) {
  .dropdown {
    height: 79px;

    row-gap: 8px;

    &__container {
      height: 46px;
    }

    &__input {
      width: 84%;

      font-size: 16px;

      padding: 10px;
    }

    &__button {
      width: 16%;
    }

    &__icon {
      width: 26px;
      height: 26px;

    }

    &_title {
      line-height: 24px;
    }
  }
  
}