.chose-tour {
  &_info {
    display: flex;
    flex-direction: column;
    row-gap: 106px;

    &_head {
      &_title {
        font-size: 59px;
        font-weight: 700;

        text-align: center;

        color: var(--black);
      }
    }
  }
}

@media (max-width: 550px) {
  .chose-tour {
    &_info {
      row-gap: 50px;

      &_head {
        &_title {
          font-size: 34px;
          letter-spacing: 0.7px;
        }
      }
    }
  }
}