.button_detailed {
  width: 199px;
  height: 42px;

  position: absolute;

  display: flex;
  align-items: center;
  gap: 15px;

  color: white;

  border-radius: 50px;

  padding: 7px 20px;

  &_item {
    font-size: 23px;
    font-weight: 700;
    color: inherit;
  }

  &:hover {
    background: var(--green-400);
  }

  &:active {
    background: var(--orange-200);
  }
}

@media (max-width: 550px) {
  .button_detailed {
    &_item {
      font-size: 16px;
    }
  }
}