@import "../../assets/styles/fonts";

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 100px;

  &_info {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 30px;

    &_title {
      @include h2;

      color: var(--black);

      text-align: center;
    }

    &_description {
      width: 410px;

      color: var(--gray-300);

      text-align: center;
    }
  }

  &_cards {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}

@media (max-width: 1024px) {
  .stories {
    row-gap: 97px;

    &_info {
      &_description {
        line-height: 31px;
      }
    }

    &_cards {
      padding: 0 21px;
    }
  }
}


@media (max-width: 550px) {
  .stories {
    row-gap: 50px;
    &_info {
      row-gap: 24px;
      &_title {
        width: 100%;

        font-size: 34px;
        line-height: 38px;
        letter-spacing: 0.4px;
      }
      &_description {
        max-width: 319px;

        font-size: 16px;
        line-height: 22px;
      }
    }

    &_cards {
      row-gap: 20px;

    }
  }
}