.button_tour {
  height: 58px;
  width: 235px;

  font-size: 20px;
  color: var(--white);

  background: var(--green-400);


  border-radius: 10px;
  padding: 7px 20px;

  &:hover {
    cursor: pointer;
    background: var(--green-300);
  }

  &:active {
    background: var(--green-200);
  }
}

@media (max-width: 550px) {
  .button_tour {
    height: 47px;
    width: 134px;

    font-size: 16px;
  }
}