@import 'blocks/**/*.scss';
@import 'assets/**/*.scss';
@import "sections/**/*.scss";

.sections {
  background: var(--beige-100);

  display: flex;
  flex-direction: column;
  row-gap: 135px;
}

@media (max-width: 550px) {
  .sections {
    row-gap: 75px;
  }
}