.tab {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  margin-top: 37px;

  &_item {
    font-size: 23px;
    letter-spacing: 0.2px;

    &_active {
      color: var(--orange-200);

      border-bottom: 2px solid var(--orange-200) !important;

      padding-bottom: 4px;
    }
  }

  &_item:hover {
    border-bottom: 2px solid var(--black-default);
    cursor: pointer;
  }

}


@media (max-width: 550px) {
  .tab {
    gap: 10px;

    margin-top: 29px;
    padding: 0 20px;
    &_item {
      font-size: 16px;
      line-height: 22px;

      &_active {
        padding-bottom: 0;
      }
    }
  }
}
