.header {
  height: 88px;
  width: 100%;

  position: absolute;

  z-index: 3;

  &_logo-mobile {
    display: none;
  }

  &_info {
    height: 100%;
    max-width: 1168px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
  }

  &_nav-list {
    display: flex;
    gap: 50px;
  }

  &_nav-link {
    font-size: 20px;
    letter-spacing: -0.1px;

    color: var(--white);
  }

  &_phone {
    font-size: 20px;

    color: var(--white);
  }
}

@media (max-width: 1024px) {
  .header {

    &_info {
      padding: 0 57px;
    }

    &_nav-list {
      gap: 30px;
    }
  }

}

@media (max-width: 880px) {
  .header {
    &_nav-list {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .header {
    &_info {
      padding: 33px 20px;
    }
    &_logo-mobile {
      display: block;
    }
    &_logo {
      display: none;
    }
    &_phone {
      font-size: 16px;
    }
  }
}