@import "../../assets/styles/fonts";

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  padding-bottom: 135px;

  &_image {
    width: 370px;
    height: 370px;

    background-image: url('../../assets/images/cta/cta.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
  }

  &_info {
    height: 162px;
    max-width: 371px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    &_title {
      @include h3;

      color: var(--black)
    }

    &_description {
      color: var(--gray-300);
    }
  }
}

@media (max-width: 740px) {
  .cta {
    flex-direction: column;
    row-gap: 30px;

    &_info {
      &_title {
        text-align: center;
      }

      &_description {
        text-align: center;
      }
    }
  }
}

@media (max-width: 550px) {
  .cta {
    padding-bottom: 34px;

    &_image {
      width: 130px;
      height: 133px;

      border-radius: 20px;
    }

    &_info {
      justify-content: start;

      &_title {
        max-width: 291px;

        font-size: 23px;
        line-height: 29px;
        letter-spacing: 0.8px;

        margin: 0 auto;
      }

      &_description {
        max-width: 300px;

        font-size: 16px;
        line-height: 22px;

        & a {
          font-size: 16px;
        }
      }
    }
  }
}